<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <style>
      .active {
        background-color: salmon;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option v-for="option in options" v-bind:value="option.text">
          {{ option.text }}
        </option>
      </select>

      <p>
        Yang dipilih :
        <li>{{ selected }}</li>
      </p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
      let contoh = new Vue({
        el: "#app",
        data: {
          selected: '',
          options: [
            { value: 'Vue', text: 'Vue' },
            { value: 'React', text: 'React' },
            { value: 'Angular', text: 'Angular' }
          ]
        }
      });
    </script>
  </body>
</html>
