    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
</head>
<body>
    <div id="app">
        <header-component></header-component>

        <main>
            <home-component></home-component>
            <language-component v-bind:language="language" v-bind:input="newLanguage"></language-component>
        </main>

        <footer-component></footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
        Vue.component('header-component', {
            template: `<header>
                            <img src="image/logo.png" alt="" width="150">
                            <p>The Progressive Javascript Framework</p>
                            <p>{{ message }}</p>
                        </header>`,
            data: function() {
                return {
                    message: 'Hai Izuchii'
                }
            }
        })
        Vue.component('paragraf-component', {
            props: ['title', 'author'],
            template: ` <p>Ini adalah paragraf yang dibuat menggunakan component {{ title }}. {{ author }}</p> `
        })
        Vue.component('language-component', {
            props: ['language', 'input'],
            template: `<div>
                        <h3>Tambah Bahasa Pemrograman</h3>
                        <p> <input type="text" placeholder="Masukkan bahasa pemrograman baru..." v-on:keyup.enter="submit" v-model="input">

                        <hr>
                        <h3>Daftar Bahasa Pemrograman</h3>
                        <template v-if="language.length > 0">
                            <ul>
                                <li v-for="(item, index) in language">{{ index + 1 }} - {{ item }}</li>
                            </ul>
                        </template>
                        <li v-else>Bahasa Pemrograman Belum Tersedia</li>
                    </div>`,
            data: function() {
                return {};
            },
            methods: {
                submit: function() {
                    console.log(this.input);
                    this.language.push(this.input);
                    this.newLanguage = '';
                }
            }
        })  
        Vue.component('button-counter',{
            data: function() {
                return {
                    count: 0
                }
            },
            template: '<button type="button" v-on:click="count++">Anda mengklik saya {{ count }} kali.</button>'
        })
        Vue.component('footer-component', {
            template: `<footer>
                            <p>Copyright 2024</p>
                        </footer>`
        })

        const Home = {
            template: `<H1>Home Page</H1>`
        }

        let vm = new Vue({
            el: '#app',
            data: {
                language: ['Golang', 'Java', 'JavaScript', 'PHP', 'Ruby', 'Python'],
                newLanguage: ''
            },
            components: {
                'home-component': Home
            }
        });
    </script>
</body>
</html>